html,body{
    width:100%;
    height:100%;
    background-color: #F0F0C9;
}
.container{
    width:100%;
    height:100%;
    display: flex;
    gap:10px;
  
}
.parent{
    width:200px;
    height:200px;
    border:4px solid #124E78;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.parent p,.child p{
    font-size:2em;
    color:red;
}
.child{
    width:200px;
    height:200px;
    border:4px solid #124E78;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding:20px;
}